body {
  background-image: url("photos/bg2.jpeg");
  margin: 0; 
  padding: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main {
  margin-top: 40px;
  padding: 40px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; 
}

.image-container {
  width: calc(33.33% - 20px); /* Three images in a row with gap */
 
}

.image-container img {
  width: 100%;
  height: auto;
}

